<footer class="text-center text-white bg-light sticky-bottom">
    <!-- Grid container -->
    <div class="container pt-3">
        <!-- Section: Social media -->
        <section>
            <!-- Facebook -->
            {% load static %}
            <a href="#" class="mx-2"><img src="{% static 'media/facebook.png' %}"></a>

            <!-- Instagram -->
            <a href="#" class="mx-2"><img src="{% static 'media/instagram.png' %}"></a>

            <!-- Twitter -->
            <a href="#" class="mx-2"><img src="{% static 'media/twitter.png' %}"></a>

            <!-- Tiktok -->
            <a href="#" class="mx-2"><img src="{% static 'media/tiktok.png' %}"></a>

            <!-- Reddit -->
            <a href="#" class="mx-2"><img src="{% static 'media/reddit.png' %}"></a>

            <!-- Github -->
            <a href="#" class="mx-2"><img src="{% static 'media/github.png' %}"></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center bg-light p-3">
        <span class="text-dark ">
            <a href="/termsofuse">Terms of Use | </a><a href="/privacy">Privacy Notice | </a><a href="/helpPage">Contact
                Us</a><br>
        </span>
        <span class="text-dark">Copyright © 2022 TheBabySitters. All rights reserved.</span>
    </div>
    <!-- Copyright -->
</footer>