<!-- {% verbatim %}

    notificationModal.html

    This template provides a notification popup that can be shown immediately 
  on page load, or to be popped up later.

    To use this from django:
    1. In your *.html template, add {{ include "notificationModal.html" }} 
    preferably just before including the footer.
    2. In your views.py, your render function should look like:
        return render(request, '*.html', {'modalTitle': [TITLE], ... })
       That third variable is a dictionary which should include:
       - 'modalTitle': The title you would like to be displayed in the top
                       bar of the modal popup.
       - 'modalText':  The text that should appear in the modal popup. This
                       will populate inside of a <p> tag.
       - 'modalBtnText': The text that should appear on the button in the
                       bottom-right corner of the modal popup. Clicking this
                       button will close the modal. You can customize the
                       button behavior in javascript. The button has id 
                       'modalBtn'.
       - 'modalImmediate': Should be true if you want the modal to appear as 
                       soon as the page loads. If false, you can manually
                       trigger the the modal with
                       triggerModal();
    
    To use this on the javascript side:
    - You can set the title, text, and button text using the setModal function:
            setModal(modalTitle, modalText, modalBtnText);
    - You will still need to display the modal by using showModal();

    If you have any questions, feel free to ask Will.
{% endverbatim %} -->

<div class="modal" tabindex="-1" role="dialog" id="notificationModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">{{ modalTitle }}</h5>
          <button type="button" class="close" data-dismiss="#notificationModal" aria-label="Close" id="modalTRBtn">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="modalText">{{ modalText }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="#notificationModal" id="modalBtn">{{ modalBtnText }}</button>
        </div>
      </div>
    </div>
</div>
<script defer="true">

    function triggerModal() {
        $('#notificationModal').modal('toggle');
    }
    function showModal() {
      $('#notificationModal').modal('show');
    }
    function setModal(modalTitle, modalText, modalBtnText) {
      document.getElementById("modalTitle").innerText = modalTitle;
      document.getElementById("modalText").innerText = modalText;
      document.getElementById("modalBtn").innerText = modalBtnText;
    }
    document.getElementById("modalBtn").addEventListener("click", triggerModal);
    document.getElementById("modalTRBtn").addEventListener("click", triggerModal);
{% if modalImmediate %}
    window.addEventListener('DOMContentLoaded', triggerModal);
{% endif %}
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>