{% include "header.html" %}
<!-- #marty -->

<body>
    {% include "general_navbar.html" %}

    <body>

        {% load static %}


        <!-- <h1>Search Page</h1>

        <br/>
        <form action="{% url 'events' %}" method="GET" value="{{request.GET.q}}"> 
            <input type="text" name="q" value="{{request.GET.q}}" placeholder="city"/>
            <input type="submit" name="submit" value="Search"/>
        </form> -->

        <div class="container">
            <div class="result-body">
                <div class="table-responsive">
                    <table class="table widget-26">
                        <tbody>
                            {% for result in publicevent %}
                            <tr>
                                <td>
                                    <div class="widget-26-job-title">
                                        {{result.name}}
                                        <p class="m-0"><a href={{result.url}} class="employer-name">Register here</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="widget-26-job-info">

                                        <p class="text-muted m-0"> <span class="location"> {{result.address.street}},
                                                {{result.address.city}}, {{result.address.state}},
                                                {{result.address.country}}</span></p>
                                    </div>
                                </td>


                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        {% else %}
        No events found
        {% endif %}
        {% endif %}


        <!-- {% if submitbutton == 'Search' and request.GET.q != '' %}
            {% if results %}
            <h1>Results for <b>{{ request.GET.q }}</b></h1>
            <br/><br/>
            <div class="container">
                {% for result in results %}
                <div>
                    {{result.name}}
                    <br/>
                    {{result.url}}  
                    <br/>
                    {{result.street_address}}
                    <br />
        
                </div>
                {% endfor %}
            {% else %}
            No events found
            {% endif %}
        {% endif %}
        
        </div> -->



        {% include "footer.html" %}
    </body>