{% extends "members_base.html" %} {% block content %}

<div class="grid text-center">
    {% load static %}
    <img src="{% static 'media/andy.jpg' %}" width="380" height="500" alt="andy" /><br /><br />
    <p>
        Hi all, my name is Andy.<br />
        I started my academic career at UCSB but I realized I wanted to transfer into the college of engineering so I
        took classes at my local cc and then transferred into the undergrad computer science dept here at SFSU. I am
        constantly working on projects but don't have much experience working in teams, which is why i'm excited to work
        in this team as it will allow me to learn more about how teams are run in the real world. I received my CompTia
        Networking Certificate and am currently studying for my Security+ certificate. I started off with Java because
        it's part of the core curriculum at most colleges but I branched into C/C++ and now use Python as my main coding
        language. I have some MySQL experience and coded a banking website for my database class. For me, it was one the
        more-challenging courses and I'm really proud that I got an A in it. I know Django and dabbled with React and
        Vue but frontend work doesn't excite me as much as backend work and creating good development pipelines.
        Although i've used linux for almost 10 years, I am just beginning to become serious about learning more about
        unix environments. That being said, I'd say linux is one of my passions in computer science. I love tinkering
        with things like vim and emacs and right now I am in the middle of re-optimizing my development workflow. I'm
        excited to meet everyone and looking forward to our future endeavors!<br /><br /><br />
    </p>
</div>

{% endblock %}