{% extends "members_base.html" %}

{% block content %}

<div class="grid text-center">
    {% load static %} <img src="{% static 'media/qin.jpeg' %}" width="380" height="500" alt="qin" /><br><br>
    <p>Hello everyong! My name is Qin Geng. I’m really happy to be in Team 03 and meet all of my teammates and their
        cute cats and dogs. I’m married and have two adorable children. I have the background on Mechanical Engineering,
        but decided to chase my Masters’ in computer science at SFSU. Last semester, I took Web and Software Development
        courses which equipped me with Java, HTML, CSS, JavaScript, nodejs, MySQL, and mongoDB. I’ve also coded with
        c, c++, and python, but java is the language I mastered most. I believe I can learn a lot from all of my
        teammates and will try my best to make contributions!</p>
</div><br /> <br /> <br />

{% endblock %}