{% extends "members_base.html" %}

{% block content %}

<div class="grid text-center">
    {% load static %} <img src="{% static 'media/img_sou.jpeg' %}" width="380" height="500" alt="Soujanya" /><br><br>
    <p>I am Soujanya Nayak. I live in Fremont with my husband. I did my Bachelors in Computer Science and currently
        pursuing Masters in Computer Science. I have around 5 years experience as data engineer. But I want to see
        myself grow as a Software Engineer. I am happy to work with this amazing team. I am learning a lot from all of
        them.</p>
    <p>My new found passion in California is travelling and hiking. The above picture was taken at Lake Tahoe. My most
        favourite hike till date was Mist Trail in Yosemite.</p>
</div><br /> <br /> <br />

{% endblock %}