{% extends "members_base.html" %} {% block content %}

<div class="grid text-center">
    {% load static %}
    <img src="{% static 'media/victor.jpeg' %}" width="380" height="500" alt="Victor" /><br /><br />
    <p>
        Hello everyone! My name is Victor<br />
        I started my academic career in SoCal. At first I wanted to be a doctor so i majored in both chem and bio in
        hopes of one day
        becoming an orthopedic surgeon. The deeper i went into medicine the more i didnt like it because my goal was to
        help people
        and noticed quickly that it wont happen right away. So when I transfered to sfsu, i got an associates in
        psychology and jumped straight
        to computer science where i am one semester away from getting a BS in computer science. Moving to San Francisco,
        i have been fortunate
        with many opportunities. First job here i worked as a field marshall for youth soccer team and was fun since it
        was my favorite sport.
        Then next job i was able to get was working at the downtown Nike store and already being a sneaker head, that
        did not help my cause with
        great discounts on apparrels. Then from there i am now in my current job where i work at an apple retail store
        as a technical expert at the
        genius bar. From there, my next goal would be to have a career experience and work at corporate in hopes of
        working there permanently unless
        another opportunity presents itself.
    </p>
</div> <br /> <br /> <br />

{% endblock %}