{% extends "members_base.html" %} {% block content %}

<div class="grid text-center">
    {% load static %}
    <img src="{% static 'media/will_n_j.jpg' %}" width="380" height="500"
        alt="Will and his wife, Jessica" /><br /><br />
    <p align="justify">Hi! My name is William Plachno. My pronouns are he and him.<br /> <br />
        I am a 32 year old computer science major who lives in the Santa Cruz mountains. I am married to my wife,
        Jessica Stangle, and
        have two cats, Ada and Eris. <br /> <br />
        After graduating high school in 2008, I started taking classes at Sonoma State University, where I made a lot of
        friends,
        but quickly let may academic side drop in priority. Between some not-so-great grades, as well as the rising cost
        of tuition,
        my parents allowed me to move in with them. I spent the next section of my life re-examining who I was and who I
        wanted to be,
        and started going to community college while doing an internship at Kaseya IT Management Solutions. It turns out
        that what grades
        I had earned at Sonoma wouldn't fully transfer, so I had to start from scratch. <br /><br />
        I passed Calculus, a major milestone for my educational career, and found myself truly enjoying school. Before
        too long, I earned
        an Associates degree in Businesss and CIS, then a transfer degree, which allowed my return to a four year
        college. <br /><br />
        I am now taking CSC648, Sofware Engineering, in a summer session at San Francisco State University, and only
        have one more semester
        afterwards before I earn a Bachelor of Science in Computer Science. <br /><br />
        While taking classes, I also am the Games Manager at Illusive Comics and Games, where I coordinate logistics of
        board games and
        card games. As a Computer Science major, I have a respect and love for systems of all kinds. This is why I love
        modern board games
        design, where the player needs to strategize and coordinate multiple touch points of a set of interconnected
        systems to claim victory. <br />
        If you have any questions about my cats, my life, or what a 'Roland Wright' is, feel free to
        <a href="mailto: wjplachno@gmail.com">e-mail me at wjplachno@gmail.com </a>. <br /><br />
        Thank you for reading! <br /> <br /> <br />
    </p>
</div>

{% endblock %}