{% load static %} {% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Create a Post for {{request.session.group_name}}</title>
    </head>
    <body style="background-color: #9de2ff">
        {% if user.is_authenticated %} {% load static %} {% include "registered_navbar.html" %} {% else %} {% load static %} {% include "general_navbar.html" %} {% endif %}
        <br />
        <br />

        <!--This h4 tag becomes covered by the navbar and does not show.
        <h4 class="logo navbar-brand text-center">
            <b>Create Your Group:</b>
        </h4>
        -->

        <!--FIX-THIS: The top border is cut-off by the navbar-->
        <div class="card mx-auto my-3" style="padding-top: 5vh; border: solid blue; height: 90vh; width: 70vw">
            <div class="card-body">
                <h1 style="text-align: center"><strong>New {{request.session.group_name}} Post!</strong></h1>
                <form enctype="multipart/form-data" style="align-items: center; width: 50vw" method="POST">
                    {% csrf_token %}
                    <label for="post title">Post Subject:</label>
                    {{createGroupPostForm.post_title}}
                    <label for="group desc">Content:</label>
                    {{createGroupPostForm.post_content}}
                    <br />
                    <button style="margin-left: 60%; margin-top: 1vh" class="btn btn-primary pt-2">Create Post for {{request.session.group_name}}</button>
                </form>
            </div>
        </div>
    </body>
</html>
