<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Profile Edit Page</title>
    </head>
    <body>
        
        <!-- <form method="POST" enctype="multipart/form-data">
            {% csrf_token %} {{profileForm.profileDesc}}{{profileForm.avatar}} {% if profile.avatar.url != None %}
            <img src="{{profile.avatar.url}}" alt="" />
            {% endif %}
            <button class="btn btn-primary pt-2" type="submit">Sign Up</button>
        </form> -->
    </body>
</html>
